#liste{
    display: flex;
    flex-direction: column;
}
.produit{
    display: flex;
    border: 1px solid pink;
    justify-content: space-between;
}
.produit > div:nth-child(3){
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: end;
}